body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

.game-Box {
  padding-top: 30px;
  padding-left: 300px;
}

#Wins, #Losses, #guessesRemaining , #lettersGuessed{
  font-size: 30px;
}

.banner{
  background-image: url(../images/jumbo.jpg);
  color: white;
}